<!-- Mobile Row -->
<tr id="transaction_mobile_<%= transaction.id %>" class="is-hidden-tablet <%= transaction.reviewed_color %>">
  <td class="is-hidden-tablet <%= transaction.reviewed_weight %>">
    <%= link_to account_transaction_path(id: transaction.id), data: { turbo_frame: "_top" } do %>
      <div class="level ob-mobile-level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <%= transaction.trx_desc_display_mobile %>
            <% if transaction.attachments.attached? then %>
                              <span class="icon has-text-grey-light tooltip" data-tooltip="Transaction has attachments">
                <i class="fas fa-sm fa-paperclip"></i>
              </span>
            <% end %>
            <% if transaction.transfer? && transaction.transfer_icon.present? %>
              <span class="ml-1" title="<%= transaction.transfer_type == 'account_to_account' ? 'Account-to-Account Transfer' : 'Stash Transfer' %>">
                <%= transaction.transfer_icon %>
              </span>
            <% end %>
            <%= bill_generated_icon(transaction) %>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item <%= transaction.amount_color %>">
            <%= transaction.amount_decorated %>
          </div>
        </div>
      </div>

      <div class="level ob-mobile-level is-mobile has-text-grey is-size-7">
        <div class="level-left">
          <div class="level-item">
            <%= transaction.trx_date_display %>
            <% if transaction.category.present? %>
              <span class="tag is-info is-light is-rounded is-size-7 ml-1"><%= transaction.category.name %></span>
            <% end %>
          </div>
        </div>
        <div class="level-right <%= 'is-hidden' if transaction.quick_receipt? %>">
          <div class="level-item ">
            Balance <%= transaction.running_balance_display %>
          </div>
        </div>
      </div>
    <% end %>
  </td>
</tr>