<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<%= turbo_frame_tag "transactions_table" do %>
  <table class="table is-hoverable is-fullwidth ob-table">
    <thead class="ob-table-phead">
      <th class="has-text-centered is-hidden-mobile" id="trx-date">
        <div class="ob-cell-content">
          Date
        </div>
      </th>
      <th class="is-hidden-mobile">
        <div class="ob-cell-content">
          Description
        </div>
      </th>
      <th class="has-text-right is-hidden-mobile">
        <div class="ob-cell-content">
          Amount
        </div>
      </th>
      <th class="has-text-right is-hidden-mobile" id="trx-balance">
        <div>
          Balance
        </div>
      </th>
      <th class="has-text-right is-hidden-mobile" id="trx-header-mobile">
        <div>
          Actions
        </div>
      </th>
    </thead>
    <tbody>
      <% 
        pending_transactions = @transactions.select(&:pending?)
        non_pending_transactions = @transactions.reject(&:pending?)
      %>

      <% if pending_transactions.any? %>
        <tr class="has-background-light">
          <td colspan="5" class="has-text-weight-bold has-text-grey py-3">
            Pending Transactions
          </td>
        </tr>
        <%= render partial: "transactions/components/transactionLineDesktop", collection: pending_transactions, as: :transaction %>
      <% end %>

      <% non_pending_transactions.group_by(&:trx_date).each do |date, transactions| %>
        <% 
          # Sort transactions by ID in descending order
          sorted_transactions = transactions.sort_by(&:id).reverse
          end_of_day_balance = sorted_transactions.first.running_balance
        %>
        <tr class="has-background-light">
          <td colspan="3" class="has-text-weight-bold has-text-grey py-3">
            <%= date.strftime("%A, %B %d, %Y") %>
          </td>
          <td class="has-text-right has-text-weight-bold has-text-grey py-3">
            <%= number_to_currency(end_of_day_balance) %>
          </td>
          <td></td>
        </tr>
        <%= render partial: "transactions/components/transactionLineDesktop", collection: sorted_transactions, as: :transaction %>
      <% end %>

      <%= render partial: "transactions/components/transactionLineMobile", collection: @transactions, as: :transaction %>
    </tbody>
  </table>
<% end %>