<nav class="navbar is-spaced" role="navigation" aria-label="main-navigation" data-controller="nav">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <%= image_tag 'logo.png' %>
    <% end %>
    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-nav-target="burger"
      data-action="click->nav#toggleNav"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navMenu" data-nav-target="menu">

    <div class="navbar-start">
      <%= render "shared/environment" if !Rails.env.production? %>
      <%= render "shared/search" if user_signed_in? %>
    </div>
    
    <div class="navbar-end">
      <%= render "shared/authedLinks" if user_signed_in? %>
      <%= render "shared/guestlinks" if !user_signed_in? %>
    </div>
  </div>
</nav>