<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link has-text-grey-dark">
    <span><%= current_user.full_name %></span>
  </a>

  <div class="navbar-dropdown ob-main-menu">
    <div class="navbar-item">
      <%= render "shared/userDetails" %>
    </div>

    <hr class="navbar-divider"/>

    <%= link_to mobile_home_path, class: "navbar-item is-hidden-desktop" do %>
      <span class="icon has-text-link is-medium ob-icon-rpad">
        <i class="fas fa-receipt"></i>
      </span>
      Quick Receipt Upload
    <% end %>

    <%= link_to accounts_path, class: "navbar-item is-hidden-desktop" do %>
      <span class="icon has-text-link is-medium ob-icon-rpad">
        <i class="fas fa-credit-card"></i>
      </span>
      Accounts
    <% end %>

    <%= link_to edit_user_registration_path, class: "navbar-item" do %>
      <span class="icon has-text-link is-medium ob-icon-rpad">
        <i class="fas fa-cog"></i>
      </span>
      Settings
    <% end %>

    <%= link_to accounts_inactive_path, class: "navbar-item" do %>
      <span class="icon has-text-link is-medium ob-icon-rpad">
        <i class="fas fa-archive"></i>
      </span>
      Inactive Accounts
    <% end %>

    <%= link_to accounts_summary_path, class: "navbar-item" do %>
      <span class="icon has-text-link is-medium ob-icon-rpad">
        <i class="fas fa-calendar-day"></i>
      </span>
      Daily Summary
    <% end %>

    <%= link_to documents_path, class: "navbar-item" do %>
      <span class="icon has-text-link is-medium ob-icon-rpad">
        <i class="fas fa-folder-open"></i>
      </span>
      Document Center
    <% end %>

    <%= link_to bills_path, class: "navbar-item" do %>
      <span class="icon has-text-link is-medium ob-icon-rpad">
        <i class="fas fa-file-invoice-dollar"></i>
      </span>
      Bill Management
    <% end %>

    <div class="dropdown is-hoverable ob-category-management-dropdown" data-controller="dropdown">
      <div class="dropdown-trigger">
        <a class="navbar-item" aria-haspopup="true" aria-controls="category-management-menu" data-action="click->dropdown#toggle" data-dropdown-target="button" aria-expanded="false">
          <span class="icon has-text-link is-medium ob-icon-rpad">
            <i class="fas fa-tags"></i>
          </span>
          Category Management
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </div>
      <div class="dropdown-menu" id="category-management-menu" role="menu" data-dropdown-target="menu">
        <div class="dropdown-content">
          <%= link_to categories_path, class: "dropdown-item" do %>
            <span class="icon has-text-link is-small">
              <i class="fas fa-list"></i>
            </span>
            <span>Manage Categories</span>
          <% end %>
          <%= link_to matching_rules_path, class: "dropdown-item" do %>
            <span class="icon has-text-link is-small">
              <i class="fas fa-magic"></i>
            </span>
            <span>Manage Matching Rules</span>
          <% end %>
        </div>
      </div>
    </div>

    <%= link_to destroy_user_session_path, class: "navbar-item" do%>
      <span class="icon has-text-link is-medium ob-icon-rpad">
        <i class="fas fa-sign-out-alt"></i>
      </span>
      Logout
    <% end %>
  </div>
</div>