<% content_for :title, "Bill Management" %>

<div class="container ob-compact-container">
  <div class="level is-mobile">
    <div class="level-left">
      <div class="level-item">
        <h1 class="title is-4 has-text-centered-mobile">Bill Management</h1>
      </div>
      <div class="level-item is-hidden-touch">
        <div class="buttons has-addons">
          <%= link_to "List View", bills_path(view: "list"),
                      class: "button #{@view_mode == 'list' ? 'is-link' : 'is-light'}" %>
          <%= link_to "Calendar View", bills_path(view: "calendar"),
                      class: "button #{@view_mode == 'calendar' ? 'is-link' : 'is-light'}" %>
        </div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <%= link_to "New Bill", new_bill_path, class: "button is-link is-small" %>
      </div>
      <div class="level-item">
        <%= link_to "Transaction batches", transactions_batches_path, class: "button is-light is-small" %>
      </div>
      <div class="level-item">
        <%= link_to "Generate pending transactions",
                    new_transactions_batch_path(start_date: @reference_date.beginning_of_month, end_date: @reference_date.end_of_month, view: @view_mode),
                    class: "button is-warning is-small",
                    data: { turbo_frame: "modal" } %>
      </div>
    </div>
  </div>

  <% if flash[:undo_batch_id].present? %>
    <div class="notification is-link is-light is-flex is-align-items-center is-justify-content-space-between">
      <span>Pending transactions were generated from bills.</span>
      <%= button_to "Undo", transactions_batch_path(flash[:undo_batch_id]),
                    method: :delete,
                    class: "button is-link is-light is-small",
                    data: { turbo_confirm: "Remove all pending transactions from this batch?" } %>
    </div>
  <% end %>

  <div class="is-hidden-mobile">
    <%= render "bills/components/summary_tiles" %>
  </div>

  <div class="is-hidden-tablet mb-3">
    <details class="box">
      <summary class="has-text-link has-text-weight-semibold">Stats</summary>
      <div class="mt-3">
        <%= render "bills/components/summary_tiles" %>
      </div>
    </details>
  </div>

  <% if @bills.any? %>
    <% if @view_mode == "calendar" %>
      <%= render "bills/components/calendar", bills: @bills, reference_date: @reference_date, bills_by_date: @bills_by_date, prev_month: @prev_month, next_month: @next_month %>
    <% else %>
      <%= render "bills/components/list", bills: @bills %>
    <% end %>
  <% else %>
    <div class="notification is-primary">
      No bills yet. <%= link_to "Create your first bill", new_bill_path, class: "has-text-weight-semibold" %>.
    </div>
  <% end %>
</div>

<%= turbo_frame_tag "modal" %>

