<div class="container">
  <h1 class="title is-4">Weekly catch-up</h1>
  <% if @accounts_to_review.empty? %>
    <div class="notification is-success">
      <span class="icon"><i class="fas fa-check-circle"></i></span>
      <span>Every account is reviewed for the week of <%= @user.week_range_display %>. Nice work.</span>
    </div>
    <%= link_to "Back to accounts", accounts_path, class: "button is-light" %>
  <% else %>
    <p class="subtitle is-6 has-text-grey">
      <%= pluralize(@total_count, "account") %> left for the week of <%= @user.week_range_display %>.
    </p>

    <div id="reconcile-accounts">
      <%= render partial: "reconcile/account_card", collection: @accounts_to_review, as: :account %>
    </div>

    <div class="has-text-centered mt-5">
      <%= link_to "Back to accounts", accounts_path, class: "button is-light" %>
    </div>
  <% end %>
</div>
