<%= render partial: "shared/backButton", locals: { 
  param_back_path: accounts_path, 
  param_back_text: "Accounts", 
  param_new_path: new_account_transaction_path
} %>

<div id="transaction_level">
  <%= render partial: "transactions/components/transactionLevel" %>
</div>

<% if !@account.credit? %>
  <div id="stash_list">
    <%= render partial: "stashes/components/stashList" %>
  </div>
<% end %>

<turbo-frame id="transactions_list">
  <div class="is-hidden-mobile mb-3">
    <%= render partial: "transactions/components/transactionCount" %>
  </div>
  <%= render partial: "transactions/components/transactionList" %>
  <div id="transactions-pagination">
    <%= render partial: "transactions/components/pagination" %>
  </div>
</turbo-frame>